<section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in-left"  data-aos-duration="2000">
      <h1>Akhil Surnedi</h1>
      <ngx-typed-js nowrap [strings]="['Problem Solver.', 'Engineer.', 'Hard Worker.']"  [backSpeed]="100" [backDelay]="100"
      [typeSpeed]="100" [loop]="true">
        
        <span class="typing"></span> 
      </ngx-typed-js>
        
      <div class="social-links">
        <!-- <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a> -->
        <!-- <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a> -->
        <!-- <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a> -->
        <!-- <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a> -->
        <!-- <a href="https://www.linkedin.com/in/crownatalie/" class="linkedin" target="_blank"><i class="bx bxl-linkedin"></i></a> -->
      </div>
    </div>
  </section>