<div class="container" data-aos="fade-up" class = "resume">

    <div class="section-title text-center">
      <h2>Resume</h2>
      <p>Dig a little deeper into what I've been doing over the years.</p>
    </div>

    <div class="row">
      <div class="col-lg-6">

        <h3 class="resume-title">Education</h3>
        <div class="resume-item">
          <h4>Ontario College Graduate Certificate</h4>
          <h5>2022 - 2024</h5>
          <p><em>Lambton College in Toronto</em></p>
          <p>I am going back to school (part-time) with a focus on Artificial Intelligence and Machine Learning</p>
        </div>
        <div class="resume-item">
          <h4>BAchelors of Technology</h4>
          <h5>2015-2019</h5>
          <p><em>National Institute of Technology, Silchar</em></p>
          <p>As a student in the Computer Science and Engineering Department, I concentrated on developing products which have higher impact on the large population</p>
          <ul>
          <li>Thesis: "Netflix Movie Recomendation System"</li>
          </ul>
        </div>
        <!-- <div class="resume-item">
          <h4>Bachelor of Arts</h4>
          <h5>2014 - 2018</h5>
          <p><em>University of Mount Union, Alliance, OH</em></p>
          <p>Graduated Magna Cum Laude with a major in Marketing at an ACBSP Accredited university.</p>
          <ul>
            <li>Minor: Interactive Media</li>
            <li>Dean's list and Trustee Scholarship</li>
            <li>Tau Pi Phi (Honor Society) Case Competition Placer</li>
            <li>Requested by professors to meet with Department Chair candidates and provide my feedback</li>
            <li>Spoke on a panel to the Business Advisory Council members and Executive Board members about my experience placing in a case study competition</li>
          </ul>
        </div> -->
<!--             <div class="resume-item">
          <h4>Data Analytics Bootcamp</h4>
          <h5>2019 - 2020</h5>
          <p><em>University of Denver, Denver, CO</em></p>
          <ul>
          <li>24 week data analytics bootcamp</li>
          </ul>
        </div> -->
        <h3 class="resume-title">Volunteer and Extracurriculars</h3>
        <div class="resume-item">
          <h4>Columbia University Women's Soccer Club</h4>
          <ul>
          <li>Member and donor</li>
          </ul>
          <h4>Division III Women's Cross Country/Track and Field Team</h4>
          <ul>
          <li>Devoted 25+ hours per week to athletics while gaining valuable leadership and team-building experience.</li>
          <li>Won an academic all-conference award.</li>
          </ul>
          <h4>Started with a Step</h4>
          <ul>
          <li>Established a website and video series showcasing runners from DIII runners to professionals</li>
          <li>Designed corresponding t-shirts</li>
          <li>Donated the $1,500+ proceeds to those affected by global poverty</li>
          <li>Ran the Boston Marathon to raise funds</li>
          </ul>
          <h4>Envision Radiology Community Outreaches</h4>
          <ul>
            <li>Habitat for Humanity</li>
            <li>Care and Share Food Bank</li>
            <li>Silver Key Senior Services</li>
            <li>BlackForest Animal Sanctuary</li>
            <li>Cheyenne Mountain Zoo</li>
          </ul>
          <h4>Brooks Running Inspire Daily Program</h4>
          <ul>
          <li>Engaged with my social following to show off Brooks Running products and inspire them to live healthy lives</li>
          </ul>
          <h4>Girls on the Run</h4>
          <ul><li>Ran with, encouraged, and mentored young girls to be joyful, healthy, and confident</li></ul>
        </div>
        <h3 class="resume-title">Tests, Certifications, and Skills</h3>
        <div class="resume-item">
          <h4>The ETS Major Field Test for the Bachelor's Degree in Business</h4>
          <p>Scored 7.2 points above the National mean score.</p>
          <h4>HubSpot Inbound Marketing Certification</h4>
          <h4>Google Digital Garage Online Marketing Fundamentals Certification</h4>
          <h4>DataCamp Data Scientist Professional Certificate</h4>
          <!-- <p>Introduction to R | Intermediate R | Introduction to SQL | Joining Data in SQL | Writing Functions and Stored Procedures in SQL Server | Introduction to Python | Intermediate Python | Customer Analytics and A/B Testing in Python | Predicting Customer Churn in Python | Introduction to Data Engineering</p> -->
          <h4>Skills:</h4>
          <p>Python | R | SQL | HTML | CSS | Bootstrap | Django | Numpy | Pandas | Scikit-Learn | BeautifulSoup | Selenium | NLTK | SPSS | VBA | Modeling | Forecasting | APIs | Machine Learning | IBM Cognos | MongoDB | MySQL | SQL Server | ETL | ELT | dbt | ERD Design | Tableau | Matplotlib | ggplot2 | D3.js | Seaborn | Leaflet.js | GCP | Salesforce | Flash | InDesign | Jupyter Notebook | MS Office | Git | RegEx | InDesign | Photoshop | Illustrator | Dreamweaver | Animate | Excel | Tableau | Sigma | Social Media | Google Analytics</p>
        </div>
      </div>
      <div class="col-lg-6">
        <h3 class="resume-title">Professional Experience</h3>
        <div class="resume-item">
          <h4>Devops Engineer</h4>
          <h5>October 2020 - August 2022</h5>
          <p><em>American Expresss</em></p>
          <p>Engage with developers to ensure they are fully supported through the entire app development lifecycle, from concept, through approval, to eventual boarding and billing support.</p>
          <ul>
            <li>Automated various processes including developer approval by building a python script resulting in a 700%+ increase in efficiency</li>
            <li>Decreased median time to close on developer inquiries by 300%+</li>
            <li>Analyzed 100gb+ of developer data and devised a dashboard with important KPIs using Sigma and Snowflake</li>
            <li>Built in-house NLP tool to analyze sentiment and topic of millions of developer conversations and created a future proof ETL pipeline, gaining a
better understanding of developer's sentiment and a categorization of requests</li>
          </ul>
        </div>
<!--             <div class="resume-item">
          <h4>Data Scientist</h4>
          <h5>Oct 2021 - Present</h5>
          <p><em>Sia Precision Education, Inc., Bethesda, MD</em></p>
          <p>Developed customized coursework and scalable, intelligent software in order to create opportunities for incarcerated students in collaboration with Educational Advancement in Science and Technology, Inc.</p>
          <ul>
          <li>Designed, implemented, and validated deep learning models that can be used within intelligent educational
              software</li>
          </ul>
        </div> -->
        <div class="resume-item">
          <h4>Data Reporting Specialist</h4>
          <h5>Aug 2021 - Nov 2021</h5>
          <p><em>Envision Radiology, Colorado Springs, CO</em></p>
          <p>Provided a master data source that is adaptable to Envision Radiology’s aggressive growth initiatives.</p>
          <ul>
            <li>Increased database accuracy by 12%+ by performing deduplications of 1000+ physician records</li>
            <li>Designed an ETL pipeline to report physician data to accommodate a single physician with one or more office locations resulting in a 30%
reduction of HIPAA violations and 20% better ROI from physicians</li>
            <li>Programmed a VBA Macro for data validation and geocoding using APIs resulting in improved in-house processes and accuracy</li>
          </ul>
        </div>
        <div class="resume-item">
          <h4>Decision Support Analyst</h4>
          <h5>Jul 2018 - Jul 2020</h5>
          <p><em>Envision Radiology, Colorado Springs, CO</em></p>
          <p>Supported the Sales and Marketing teams in analytical and data gathering activities that delivered insightful,
            actionable, and gainful information for them to achieve their business goals and objectives.</p>
          <ul>
            <li>Designed and developed a comprehensive Tableau dashboard and created an ETL pipeline to transition daily reports from 5+ data reporting
platforms into a single dashboard, improving efficiency by 56% and reducing expenditure by $25,000+</li>
            <li>Designed an executive-level Tableau dashboard, incorporating goal comparison, while using year-over-year
            calculations and nested calculations</li>
            <li>Automated various reports and built VizAlerts for automatic distribution to managers, saving 1+ hours weekly</li>
          </ul>
        </div>
        <div class="resume-item">
          <h4>Consumer Insights and Analytics Intern</h4>
          <h5>Jan 2017 - May 2017</h5>
          <p><em>United States Olympic and Paralympic Committee, Colorado Springs, CO</em></p>
          <p>Oversaw outreach programs, social media analytics & advertisement, and brand growth/development.</p>
          <ul>
            <li>Compiled a weekly content report and led a discussion with numerous departments to develop and
            streamline improved ways to engage fans based on research, trends, forecasts, and analytics</li>
            <li>Led a comprehensive Request for Proposal process resulting in a 4 year, $500K contract with a multi-million-dollar research vendor</li>
          </ul>
        </div>
        <div class="resume-item">
          <h4>SEO Specialist and Web Design Intern</h4>
          <h5>Jan 2013 - Aug 2016</h5>
          <p><em>Advan Design LLC, Akron, OH</em></p>
          <p>Supported the design/development staff by providing designs, layouts, web page development, and search engine optimization which eased the workload of coworkers.</p>
          <ul>
            <li>Improved page view count on an average site by 900%. This created E-commerce traffic for clients who then saw an increase in business and sales.</li>
          </ul>
        </div>
      </div>
    </div>

  </div>

  <div></div>
